grey=#7A8296;
lightgrey=#E7E9ED;
white=#FFFFFF;
orange=#E98C3E;
green=#23A18E;


.green
	color:green

.orange
	color:orange

body 
	font: normal 14px/1 "Helvetica Neue", Helvetica, "Hiragino Sans GB", Arial, "STHeiti", SimSun, sans-serif
h1
	font-size:30px
h2
	font-size:22px
	font-weight:400

.w40
	width:40%

.w50
	width:50%

.w90
	width:90%

.w100
	width:100%

a
	text-decoration:none
	color:grey

.left
	float:left

.right
	float:right

.clearfix
	width:100%
	overflow:hidden

.nav-item
	float:left

.wrap
	width: 980px
	margin-left:auto
	margin-right:auto

.btn
	display:block
	padding:5px 5px 
	background: orange	
	color:white
	text-align:center
	width:50px
	height:20px
	line-height:20px
	border-radius:2px
	cursor:pointer
	&:hover
		background:darken(orange, 10%)

.btn-big
	width: 80px
	height:25px
	line-height:25px
