@import 'reset.css';
@import 'base.styl';

header
	height:120px

	.wrap
		margin-top:40px
		overflow:hidden
		line-height:40px

	.nav-item
		margin-left: 80px

.slider
	height:400px

.apply
	background: url('../images/pattern.png')

.apply-box
	width:801px
	height:345px
	margin:70px auto
	background:white
	padding-top: 20px

	.box
		width:50%
		height:100%
		text-align:center
		color: grey

	img
		margin:25px auto
	h1
		margin-bottom:20px

	p
		line-height:30px
	.btn
		margin:20px auto

.trusted
	text-align:center
	padding-top:40px
	color:grey
	height:320px
	background: url('../images/triangles.png')
	img
		margin-top:40px
.commends
	padding-top:20px
	height:507px
	.wrap>.left
		width:45%
	.wrap>.right
		width:50%

.cmd-box
	margin-top:25px
	.cmd
		background: lightgrey
		color:grey
		text-align:justify
		line-height:25px
		padding:23px
		border-radius:5px
	.cmd-people
		margin:25px
		position:relative
		.arrow-down
			width:0
			height:0
			border-left:10px solid transparent
			border-right:10px solid transparent
			border-top:10px solid lightgrey
			position:absolute
			top:-25px
			left:16px

		img
			width:55px
			border-radius:5px
			float:left
			margin-right:10px
		h3
			color:grey
			margin-bottom:8px
		p
			font-size:12px
			color: lighten(grey, 70%)

footer
	height:85px
	background: lightgrey
	color:grey
	padding-top:70px

	.nav-item
		margin-left:30px