@import 'reset.css';
.green {
  color: #23a18e;
}
.orange {
  color: #e98c3e;
}
body {
  font: normal 14px/1 "Helvetica Neue", Helvetica, "Hiragino Sans GB", Arial, "STHeiti", SimSun, sans-serif;
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 22px;
  font-weight: 400;
}
.w40 {
  width: 40%;
}
.w50 {
  width: 50%;
}
.w90 {
  width: 90%;
}
.w100 {
  width: 100%;
}
a {
  text-decoration: none;
  color: #7a8296;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clearfix {
  width: 100%;
  overflow: hidden;
}
.nav-item {
  float: left;
}
.wrap {
  width: 980px;
  margin-left: auto;
  margin-right: auto;
}
.btn {
  display: block;
  padding: 5px 5px;
  background: #e98c3e;
  color: #fff;
  text-align: center;
  width: 50px;
  height: 20px;
  line-height: 20px;
  border-radius: 2px;
  cursor: pointer;
}
.btn:hover {
  background: #e67c24;
}
.btn-big {
  width: 80px;
  height: 25px;
  line-height: 25px;
}
header {
  height: 120px;
}
header .wrap {
  margin-top: 40px;
  overflow: hidden;
  line-height: 40px;
}
header .nav-item {
  margin-left: 80px;
}
.slider {
  height: 400px;
}
.apply {
  background: url("../images/pattern.png");
}
.apply-box {
  width: 801px;
  height: 345px;
  margin: 70px auto;
  background: #fff;
  padding-top: 20px;
}
.apply-box .box {
  width: 50%;
  height: 100%;
  text-align: center;
  color: #7a8296;
}
.apply-box img {
  margin: 25px auto;
}
.apply-box h1 {
  margin-bottom: 20px;
}
.apply-box p {
  line-height: 30px;
}
.apply-box .btn {
  margin: 20px auto;
}
.trusted {
  text-align: center;
  padding-top: 40px;
  color: #7a8296;
  height: 320px;
  background: url("../images/triangles.png");
}
.trusted img {
  margin-top: 40px;
}
.commends {
  padding-top: 20px;
  height: 507px;
}
.commends .wrap>.left {
  width: 45%;
}
.commends .wrap>.right {
  width: 50%;
}
.cmd-box {
  margin-top: 25px;
}
.cmd-box .cmd {
  background: #e7e9ed;
  color: #7a8296;
  text-align: justify;
  line-height: 25px;
  padding: 23px;
  border-radius: 5px;
}
.cmd-box .cmd-people {
  margin: 25px;
  position: relative;
}
.cmd-box .cmd-people .arrow-down {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #e7e9ed;
  position: absolute;
  top: -25px;
  left: 16px;
}
.cmd-box .cmd-people img {
  width: 55px;
  border-radius: 5px;
  float: left;
  margin-right: 10px;
}
.cmd-box .cmd-people h3 {
  color: #7a8296;
  margin-bottom: 8px;
}
.cmd-box .cmd-people p {
  font-size: 12px;
  color: #d7dae0;
}
footer {
  height: 85px;
  background: #e7e9ed;
  color: #7a8296;
  padding-top: 70px;
}
footer .nav-item {
  margin-left: 30px;
}
